
.product-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 15%;
}
.product-page {

    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;

}

.product-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    color: #0b4da3;
    font-family: 'Bitter', serif;
    font-weight: 500;
    letter-spacing: 1.65px;
    line-height: 1.85rem;
    font-size: 1.2rem;
}
h1 {
    margin-bottom: 1rem;
}
h4 {
    margin-top: 1rem;
}

.italicize {
    font-style: italic;
}
.large-button  {
    // background-color: #f35a32;
    background-color: #fb7c27;
    border: none;
    font-family: 'Bitter', serif;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .75rem 1rem;
    color: white;
    width: 250px;
    margin-top: 1rem;
}

.large-button:hover{
    background-color: white;
    color: #f35a32;
}

.large-button:active{
    border: dotted #f35a32 3px;

}

.product-image {
    width: 50%;
    height: 50%;
}